<div class="resume-section-content">
    <form  method="post">
        <h2 class="mb-5"> İletişim</h2>
        <label>Ad Soyad</label>
        <input type="text" class="form-control" name="NAMESURNAME" />
        <label>Mail</label>
        <input type="text" class="form-control" name="EMAIL" />
        <label>Konu</label>
        <input type="text" class="form-control" name="SUBJECT" />
        <label>Mesaj</label>
        <input type="text" class="form-control" name="MESSAGE" />
        <br />
        <button class="btn btn-info"> Mesaj Gönder</button>
    </form>
</div>
