@using MTCV.Models.ENTITY
@model List<Interest>

<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Hobilerim</h2>
        @foreach (var item in Model)
        {
            <p>@item.DESC1</p>
            <p class="mb-0">@item.DESC2</p>
        }
    </div>
</section>
